PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
PassengerEnabled on
PassengerAppRoot /home/USERNAME/public_html
PassengerBaseURI /
PassengerPython /home/USERNAME/virtualenv/public_html/3.11/bin/python
