PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
PassengerEnabled on
PassengerAppRoot /home/Dhruvacloud/public_html
PassengerBaseURI /
PassengerPython /home/Dhruvacloud/virtualenv/public_html/3.11/bin/python
